@import "cv";

h1 {
  font-weight: bold;
  font-size: 0.9375rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  animation: fade-in 0.5s ease-in;
  border-top: 1.5px solid #374151;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
}

h3 {
  @extend h1;
  margin-bottom: 0.5rem;
}
