---
import { CVSection } from "../components/cv/CVSection"
import { CvH3 } from "../components/cv/CVSubHeading"
import "../styles.css"
---

<html lang="en-GB" class="font-serif">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Sam Rowe - CV</title>
  </head>
  <body class="flex flex-col text-sm">
    <div class="m-4 my-8 sm:my-16 md:my-32 sm:mx-auto sm:max-w-[608px]">
      <div class="leading-6">
        <h1 class="font-bold text-sm+"><a href="/">Sam Rowe</a></h1>
        <p><a href="tel:+447955059583">07955059583</a></p>
        <p><a href="mailto:sam@samrowe.io">sam@samrowe.io</a></p>
      </div>

      <CVSection title="Personal Summary">
        <p>
          I am a friendly and enthusiastic software developer who enjoys
          collaborating with others. I’m always keen to learn new skills and
          adapt quickly to new challenges.
        </p>
      </CVSection>

      <CVSection title="Employment history">
        <!-- TODO: maybe logos in the sidebar on big screens? -->

        <div class="mb-8">
          <CvH3 text="Vitamin London" />
          <p class="leading-6">Tech Lead — Oct 2022 - present</p>
        </div>

        <div>
          <CvH3 text="Red Badger" />
          <p class="leading-6">
            Senior Software Engineer — Feb 2020 – Sep 2022
          </p>
          <p class="leading-6">
            Software Engineer (Mid II) — March 2019 – Jan 2020
          </p>
        </div>
      </CVSection>

      <CVSection title="Education">
        <!-- UoB logo in sidebar? -->
        <CvH3 text="University of Bath" />
        <p>BSc Physics, 2:1, graduated 2015</p>

        <p class="mt-8">
          As part of my final year project supervised by BAE Systems, I created
          optical simulations written in Python.
        </p>
      </CVSection>

      <CVSection title="Other skills and interests">
        <ul class="list-disc ml-4">
          <li>PADI-qualified open water scuba diver</li>
        </ul>
      </CVSection>
    </div>
  </body>
</html>
