---
import '@fontsource/ibm-plex-mono'
import '@fontsource/merriweather/300-italic.css'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/merriweather/700.css'
import { EatingOutTOC } from '../components/eating-out/EatingOutTOC'
import { EatingOutVenue, type Venue } from '../components/eating-out/EatingOutVenue'
import { slugify } from '../utils/slugify'

const venuesRaw: readonly Omit<Venue, 'slug'>[] = [
  {
    name: 'Pret',
    notes:
      'No guarantees anything is gluten-free — risk of cross-contamination',
    foods: [
      {
        name: 'Smoked Salmon Protein Box',
        url: 'https://www.pret.co.uk/en-GB/products/UK007304/smoked-salmon-protein-box',
        cals: 467,
        satFat: 6.4,
        carbs: 8.6,
        effectiveCarbs: 4.4,
        protein: 28.5,
      },
      {
        name: 'Tuna Nicoise Salad',
        url: 'https://www.pret.co.uk/en-GB/products/UK006483/tuna-nicoise-salad',
        cals: 380,
        satFat: 3.6,
        carbs: 9.1,
        effectiveCarbs: 7.5,
        protein: 29.9,
      },
      {
        name: 'Crayfish & Avo Salad Bowl',
        url: 'https://www.pret.co.uk/en-GB/products/UK020018/crayfish-and-avo-salad-bowl',
        cals: 423,
        carbs: 10,
        effectiveCarbs: 7.8,
        satFat: 5.9,
        protein: 17.7,
      },
      {
        name: 'Egg & Spinach Protein Pot',
        url: 'https://www.pret.co.uk/en-GB/products/UK005381/egg-and-spinach-protein-pot',
        cals: 103,
        satFat: 1.5,
        carbs: 2.3,
        effectiveCarbs: 0.2,
        protein: 11.4,
      },
      {
        name: 'Spicy Chorizo & Butter Bean Soup',
        url: 'https://www.pret.co.uk/en-GB/products/UK020042/spicy-chorizo-and-butter-bean-soup',
        cals: 228,
        satFat: 3.2,
        carbs: 14.2,
        effectiveCarbs: 10.8,
        protein: 13.1,
      },
    ],
  },
  {
    name: 'Leon',
    notes: 'All of the breakfast boxes are super high in saturated fat',
    foods: [
      {
        name: 'Brazilian black bean',
        url: 'https://leon.co/menu/brazillian-black-bean/',
        cals: 554,
        carbs: 75,
        effectiveCarbs: 50,
        protein: 18,
        satFat: 1.9,
      },
      {
        name: 'Aioli Chicken Box',
        url: 'https://leon.co/menu/aioli-chicken-box/',
        cals: 641,
        carbs: 60,
        protein: 29,
        satFat: 4.9,
      },
      {
        name: 'Lentil Masala',
        url: 'https://leon.co/menu/lentil-masala/',
        cals: 549,
        carbs: 69,
        effectiveCarbs: 50,
        protein: 13,
        satFat: 11,
      },
      {
        name: 'Winter Slaw',
        url: 'https://leon.co/menu/winter-slaw/',
        cals: 155,
        carbs: 6.4,
        effectiveCarbs: 5,
        protein: 3,
        satFat: 1.5,
      },
      {
        name: 'Hummus',
        url: 'https://leon.co/menu/hummus/',
        cals: 265,
        carbs: 5.7,
        effectiveCarbs: 1,
        protein: 8.9,
        satFat: 3.3,
      },
      {
        name: '5 GFC Nuggets',
        url: 'https://leon.co/menu/gfc-nuggets-5-pieces/',
        cals: 437,
        carbs: 37,
        protein: 28,
        satFat: 3.5,
      },
      {
        name: 'Chargrilled Chicken Mezze',
        url: 'https://leon.co/menu/chicken-mezze/',
        cals: 141,
        carbs: 0.1,
        protein: 28,
        satFat: 1,
      },
      {
        name: 'Baked Fries',
        url: 'https://leon.co/menu/baked-fries/',
        cals: 242,
        carbs: 38,
        protein: 3.6,
        satFat: 0.9,
      },
    ],
  },
]

const venues = venuesRaw.map((v) => ({
  slug: slugify(v.name),
  ...v,
}))
---

<html lang="en-GB" class="font-serif scroll-smooth">
  <head>
    <meta charset="utf-8" />
    {/* TODO: use a different favicon, maybe a letter S or something? */}
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <title>Eating out guide - Sam Rowe</title>
    <meta name="robots" content="noindex" />
  </head>
  <body class="flex flex-col text-slate-700">
    <div class="container max-w-lg mx-auto py-12 px-4 flex flex-col gap-12">
      <h1 class="italic text-lg">Eating out guide</h1>

      <EatingOutTOC venues={venues} />

      {venues.map((venue) => <EatingOutVenue venue={venue} />)}
    </div>
  </body>
</html>
