---
import '@fontsource/ibm-plex-mono'
import '@fontsource/merriweather'
import '@fontsource/permanent-marker'
import HomeHero from '../components/HomeHero.astro'
import '../styles.css'
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    {/* TODO: use a different favicon, maybe a letter S or something? */}
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <title>Sam Rowe</title>
  </head>
  <body class="flex flex-col">
    <HomeHero />
  </body>
</html>
