---
import HomeHero from "../components/HomeHero.astro"
import "../styles.css"
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <title>Sam Rowe</title>
  </head>
  <body class="flex flex-col">
    <HomeHero />
    <div></div>
  </body>
</html>
