---
import '@fontsource/merriweather/300-italic.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/merriweather/700.css'
import { getCollection } from 'astro:content'

const thoughts = await Promise.all(
  (
    await getCollection('thoughts')
  ).map(async (t) => ({
    title: t.data.title,
    slug: t.slug,
    body: await t.render(),
  }))
)
---

<html
  lang="en-GB"
  class="font-serif scroll-smooth transition-colors dark:bg-slate-900 dark:text-slate-50"
>
  <head>
    <meta charset="utf-8" />
    {/* TODO: use a different favicon, maybe a letter S or something? */}
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <title>Thoughts - Sam Rowe</title>
  </head>
  <body class="flex flex-col">
    <div class="mx-auto px-12 py-16 gap-16 flex flex-col">
      {/* px-6 + px-2px to match padding and border-2 on sections below */}
      <h1
        class="text-xl font-light italic px-6 text-slate-900 dark:text-slate-300"
      >
        <span class="px-[2px]">Thoughts</span>
      </h1>

      {
        thoughts.map((t) => (
          <a id={t.slug} href={`#${t.slug}`} class="pt-4 group">
            <section class="px-6 py-8 bg-slate-50 dark:bg-slate-800 rounded-xl border-2 border-transparent transition duration-500 group-target:border-slate-500 dark:group-target:border-slate-400">
              <div class="prose prose-slate prose-lg dark:prose-invert">
                <t.body.Content />
              </div>
            </section>
          </a>
        ))
      }
    </div>
  </body>
</html>
