---
import me from '../me.jpeg'
---

<div
  class="h-[50vh] bg-gradient-to-t from-sunsetOrange via-sunsetBlue to-sunsetBlue"
>
</div>
<div class="relative min-h-[50vh] grow bg-gray-800 text-white">
  {/* TODO: ^ grainy gradient effect? */}
  <div class="w-[calc(100vw-70vh)] px-[10vw] py-[10vh] flex flex-col">
    <h1 class="flex flex-col gap-4 font-display text-4xl mb-4">
      <span class="opacity-80">Hey,</span>
      <span>I’m Sam</span>
    </h1>
    <p class="font-mono text-2xl font-medium italic opacity-80">
      Software Engineer
    </p>
  </div>

  {/* TODO: optimise image size? */}
  <img
    src={me}
    class="absolute top-[-30vh] right-[5vw] h-[60vh] w-auto rounded-full shadow-2xl"
    alt=""
  />

  <div class="px-[10vw] font-mono pb-12">
    <p class="text-2xl">
      <a href="/cv"
        >View my <abbr
          class="no-underline tracking-wider"
          title="Curriculum vitae">CV</abbr
        >
        <span class="font-serif">→</span></a
      >
    </p>
  </div>
</div>
