---
import { Image } from "@astrojs/image/components"
import me from "../me.jpeg"
---

<div
  class="h-[50vh] bg-gradient-to-t from-sunsetOrange via-sunsetBlue to-sunsetBlue"
>
</div>
<div class="relative h-[50vh] grow bg-gray-800">
  <!-- TODO: ^ grainy gradient effect? -->
  <div class="w-[calc(100vw-70vh)] px-[10vw] py-[10vh]">
    <h1 class="flex flex-col gap-4 font-display text-4xl text-white">
      <span class="opacity-70">Hey,</span>
      <span>I’m Sam</span>
    </h1>
  </div>
  <Image
    src={me}
    class="absolute top-[-30vh] right-[5vw] h-[60vh] w-auto rounded-full shadow-2xl"
    alt=""
  />
</div>
